.container {
  max-width: 1200px;
  margin: auto;
}

li {
  list-style: none;
}

a, span, p {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn--orange {
  border-radius: 8px;
  margin-right: 18px;
  padding: 10px 40px;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #ffff;
  background-color: #FB8F1D;
}

.btn--orange:hover {
  background-color: #ffff;
  color: #FB8F1D;
  border: 1px solid #FB8F1D;
  box-sizing: border-box;
  border-radius: 8px;
}

.text--gray {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
  max-width: 450px;
  padding: 20px 0 35px;
}

.item {
  max-width: 450px;
}

.view {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
  color: #FB8F1D;
}

.view::before {
  content: '';
  position: absolute;
  width: 9px;
  border: 1px solid #FB8F1D;
  top: 44%;
  right: -30%;
  transform: rotate(210deg);
}

.view::after {
  content: '';
  position: absolute;
  width: 9px;
  border: 1px solid #FB8F1D;
  top: 53%;
  right: -30%;
  transform: rotate(-25deg);
}

.view:hover {
  color: #ff8706;
  font-size: 20px;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 0 10px;
  }
  .view {
    display: flex;
  }
  .view::before {
    display: none;
  }
  .view::after {
    display: none;
  }
}

@media screen and (max-width: 4145px) {
  body {
    padding: 0 10px;
  }
  .view {
    line-height: 1;
    display: flex;
  }
  .view::before {
    display: none;
  }
  .view::after {
    display: none;
  }
  .btn--orange {
    padding: 8px 25px;
  }
}

.header__row {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__menu {
  display: flex;
}

.nav__links {
  display: flex;
  padding-right: 35px;
  color: #848484;
  font-family: Inter;
  font-size: 16px;
  line-height: 19px;
}

.nav__links:hover {
  color: #202336;
  font-size: 17px;
  font-weight: 600;
  font-size: 16px;
}

.nav__buttons {
  display: flex;
}

.nav__buttons .btn--orange {
  padding: 8px 36px;
}

.hero__row {
  display: flex;
  padding-bottom: 260px;
}

.hero__item {
  position: relative;
  padding-top: 20px;
}

.hero__title {
  font-family: font-playfair;
  color: #202336;
  font-weight: bold;
  font-size: 64px;
  line-height: 1.5;
}

.hero__subtitle {
  display: inline-block;
  margin-bottom: 50px;
  position: relative;
  font-family: Inter;
  color: #202336;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.hero__subtitle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #202336;
  border-radius: 4px;
  bottom: -50%;
}

.hero__element--left {
  position: absolute;
  left: -15%;
}

.hero__element--bottom {
  padding: 60px 0 0 550px;
}

.hero__tour {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.hero__select {
  position: relative;
  margin: 0 30px 35px 0;
}

.hero__select::before {
  content: '';
  position: absolute;
  width: 9.5px;
  height: 2px;
  background: #4A4C53;
  top: 50%;
  right: 16%;
  transform: rotate(45deg);
}

.hero__select::after {
  content: '';
  position: absolute;
  width: 9.5px;
  height: 2px;
  background: #4A4C53;
  top: 50%;
  right: 13%;
  transform: rotate(135deg);
}

.hero__selector {
  padding: 0 30px;
  border: 0.8px solid #AFB0B9;
  box-sizing: border-box;
  border-radius: 6px;
  width: 220px;
  height: 52px;
  outline: none;
  appearance: none;
  font-family: "inter";
  font-size: 15px;
  color: #313235;
}

.hero .button {
  margin-top: 50px;
}

.hero__image {
  padding-top: 35px;
}

@media screen and (max-width: 1024px) {
  .hero__row {
    padding-bottom: 150px;
  }
  .hero__tour {
    justify-content: center;
  }
  .hero__selector {
    width: 200px;
    height: 45px;
  }
  .hero__item {
    text-align: center;
  }
  .hero__title {
    font-size: 48px;
  }
  .hero__subtitle::before {
    content: '';
    left: 35%;
  }
  .hero__image {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .hero__row {
    padding-bottom: 20px;
  }
  .hero__select {
    margin: 0 15px 15px 0;
  }
  .hero__select::before {
    width: 8.5px;
  }
  .hero__select::after {
    width: 8.5px;
  }
  .hero__selector {
    width: 150px;
    height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .hero__select {
    margin: 0 15px 15px 0;
  }
  .hero__select::before {
    width: 5.5px;
  }
  .hero__select::after {
    width: 5.5px;
  }
  .hero__selector {
    width: 125px;
    height: 30px;
  }
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

@media screen and (max-width: 1024px) {
  .col-7, .col-6, .col-5, .col-4 {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .col-7, .col-6, .col-5, .col-4 {
    width: 100%;
  }
  .col-3, .col-2 {
    width: 50%;
  }
}

.explore {
  padding: 0 0 260px 0;
}

.explore__row {
  display: flex;
}

.explore__item {
  max-width: 450px;
  padding: 50px 0 0 100px;
}

.explore__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

.explore__element {
  padding: 0 0 20px 320px;
}

@media screen and (max-width: 1024px) {
  .explore__image {
    max-width: 520px;
  }
  .explore__col-6 {
    width: 50%;
  }
}

@media screen and (max-width: 414px) {
  .explore {
    padding: 10px 0;
  }
  .explore__image {
    max-width: 420px;
  }
  .explore__col-6 {
    width: 100%;
  }
  .explore__item {
    padding: 10px 10px;
  }
}

.destinations__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.destinations__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

.destinations__element {
  padding: 0 0 80px 450px;
}

.destinations__row {
  position: relative;
  padding: 50px 0 230px 0;
}

.destinations__content {
  position: relative;
}

.destinations__image {
  border-radius: 8px;
}

.destinations__location {
  position: absolute;
  background-color: white;
  bottom: 1%;
  padding: 10px 22px 0 0;
  border-radius: 0 8px 0 0;
}

.destinations__place {
  font-family: "inter";
  color: #042521;
  font-weight: 600;
  font-size: 17px;
}

.destinations__country {
  font-family: "Mulish" sans-serif;
  color: #7D7987;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
}

.destinations__element--plus {
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: -15%;
}

@media screen and (max-width: 1024px) {
  .destinations__row {
    padding: 50px 0 50px 0;
  }
  .destinations__image {
    max-width: 240px;
  }
  .destinations__location {
    font-size: 16px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 414px) {
  .destinations__title {
    font-size: 26px;
    line-height: 1.5;
  }
  .destinations__col-3 {
    width: 50%;
  }
  .destinations__image {
    max-width: 160px;
  }
  .destinations__place {
    font-size: 14px;
  }
  .destinations__country {
    font-size: 14px;
    line-height: 0;
  }
  .destinations__element {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .destinations__col-3 {
    width: 100%;
  }
  .destinations__image {
    max-width: 300px;
  }
  .destinations__title {
    font-size: 21px;
  }
  .destinations__link {
    font-size: 16px;
  }
}

.guides {
  margin-left: 30px;
}

.guides__row {
  padding: 50px 0;
  display: flex;
}

.guides__icon {
  margin-left: 100px;
}

.guides__icon2 {
  margin-left: 500px;
}

.guides__icon3 {
  margin-left: 500px;
}

.guides__item {
  max-width: 450px;
  padding-top: 160px;
}

.guides__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

@media screen and (max-width: 1024px) {
  .guides__col-6 {
    width: 50%;
  }
}

@media screen and (max-width: 414px) {
  .guides__img {
    max-width: 450px;
  }
  .guides__col-6 {
    width: 100%;
  }
}

.reviews {
  padding: 260px 0;
}

.reviews__title {
  padding-bottom: 150px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

.reviews__text {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  padding: 30px 0 40px;
}

.reviews__edward {
  font-family: Inter;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
}

.reviews__founder {
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
  mix-blend-mode: normal;
}

.reviews__img {
  position: relative;
  padding-top: 100px;
}

.reviews__star {
  padding-right: 15px;
}

.reviews__icon1 {
  width: 35px;
  position: absolute;
  top: 85%;
  right: 8%;
}

.reviews__icon2 {
  position: absolute;
  top: 571px;
  right: 430px;
  width: 34px;
  transform: rotate(-11deg);
  z-index: 1;
}

.reviews__image {
  width: 380px;
  height: 490px;
  border-radius: 14px;
}

.reviews__img--man {
  position: relative;
  padding-left: 150px;
}

@media screen and (max-width: 1024px) {
  .reviews__col-6 {
    width: 50%;
  }
  .reviews__title {
    padding-bottom: 50px;
  }
  .reviews__img {
    padding: 0 0 10px 0;
  }
  .reviews__img--man {
    padding-left: 100px;
  }
}

@media screen and (max-width: 414px) {
  .reviews {
    padding: 100px 0;
  }
  .reviews__col-6 {
    width: 100%;
  }
  .reviews__img--man {
    padding-left: 0;
  }
  .reviews__image {
    max-width: 350px;
    max-height: 450px;
  }
}

.trending__stories {
  margin: 0 20px 0 0;
}

.trending__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  padding-bottom: 45px;
}

.trending__images {
  border-radius: 10px 10px 0 0;
  height: 280px;
  width: 280px;
}

.trending__item {
  max-width: 280px;
}

.trending__suptitle {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
}

.trending__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  padding: 15px 0 0px;
  color: #7D7987;
}

.trending__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
  color: #FB8F1D;
}

.trending__link:hover {
  color: #ff8706;
  font-size: 20px;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .trending__images {
    max-width: 230px;
  }
}

@media screen and (max-width: 414px) {
  .trending__title {
    font-size: 26px;
    line-height: 1.5;
  }
  .trending__link {
    padding-bottom: 43px;
  }
  .trending__col-3 {
    width: 50%;
  }
  .trending__images {
    max-width: 160px;
  }
}

.footer {
  background-color: #F9F9FB;
}

.footer__row {
  display: flex;
}

.footer__description {
  padding: 50px 0 70px;
}

.footer__title {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  padding: 30px 0;
}

.footer__item {
  font-family: Mulish;
}

.footer__suptitle {
  padding: 80px 0 0 115px;
}

.footer__subtitle {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
}

.footer__list {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  padding: 0;
  margin: 0;
}

.footer__string {
  color: #848484;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: #F9F9FB;
}

.footer__imeges {
  margin: 0 120px 0 0;
}

.footer__del {
  margin: 70px 0 0 0;
  width: 100%;
  height: 2px;
  background-color: #848484;
}

@media screen and (max-width: 414px) {
  .footer__suptitle {
    padding: 0;
  }
}
/*# sourceMappingURL=index.css.map */