@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Playfair+Display+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Mulish&family=Playfair+Display+SC:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__row {
  padding: 35px 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  padding: 0 510px 0 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 35px;
  color: #848484;
  font-family: Inter;
  font-size: 16px;
  line-height: 19px;
}

.nav__links:hover {
  color: #202336;
  font-size: 17px;
}

.nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__buttons .btn--orange {
  border-radius: 8px;
  margin-right: 18px;
  padding: 8px 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #ffff;
  background-color: #FB8F1D;
}

.nav__buttons .btn--orange:hover {
  background-color: #ffff;
  color: #FB8F1D;
  border: 1px solid #fb8f1d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.guides {
  margin-left: 30px;
}

.guides__row {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guides__icon {
  margin-left: 100px;
}

.guides__icon2 {
  margin-left: 500px;
}

.guides__icon3 {
  margin-left: 500px;
}

.guides__title {
  padding: 60px 0;
}

.guides__item {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  width: 480px;
  height: 100px;
}

.guides__link {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  margin: 50px 0;
  width: 450px;
  height: 90px;
}

.guides__btn--bloc {
  padding: 20px 50px;
  background-color: #FB8F1D;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
}

.reviews {
  margin-right: 30px;
  padding: 250px 0;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  padding-bottom: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

.reviews__link {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  padding: 30px 0 40px;
  width: 400px;
}

.reviews__edward {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

.reviews__founder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
}

.reviews__img {
  position: relative;
}

.reviews__icon1 {
  width: 30px;
  position: absolute;
  top: -9px;
  right: 59px;
}

.reviews__icon2 {
  position: absolute;
  top: 471px;
  right: 430px;
  width: 34px;
  -webkit-transform: rotate(-11deg);
          transform: rotate(-11deg);
  z-index: 1;
}

.reviews__image {
  width: 380px;
  height: 490px;
  border-radius: 14px;
  position: absolute;
}

.reviews__img--man {
  margin-left: 150px;
}

.trending__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending__stories {
  margin: 0 20px 0 0;
}

.trending__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.trending__item {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  padding-bottom: 45px;
}

.trending__viewall {
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 60px;
  padding-left: 78%;
  color: #000000;
}

.trending__viewall:hover {
  color: #FB8F1D;
  font-size: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.trending__images {
  width: 100%;
  border-radius: 30px;
  height: 320px;
}

.trending__title {
  width: 260px;
  height: 330px;
}

.trending__suptitle {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
}

.trending__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  padding: 15px 0 40px;
  color: #7D7987;
}

.trending__surtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #7D7987;
}

.trending__surtitle:hover {
  color: #FB8F1D;
  font-size: 20px;
  margin: -10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  background-color: #F9F9FB;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__description {
  padding: 80px 0 70px;
}

.footer__title {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  width: 380px;
  height: 80px;
  padding: 50px 0 150px;
}

.footer__suptitle {
  padding: 150px 0 0 115px;
}

.footer__subtitle {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
}

.footer__list {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

.footer__string {
  color: #848484;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  background-color: #F9F9FB;
}

.footer__imeges {
  margin: 0 120px 0 0;
}

.footer__del {
  margin: 70px 0 0 0;
  width: 100%;
  height: 2px;
  background-color: #848484;
}
/*# sourceMappingURL=index.css.map */