.container{
    max-width:1200px;
    margin: auto;
}


li {
    list-style: none;

}

a,span,p{
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    cursor: pointer;
}



.row {
    display: flex;
    flex-wrap: wrap;
  }
  
.btn--orange{
    border-radius: 8px;
    margin-right: 18px;
    padding:10px 40px ;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: $color-white;
    background-color: $color-orange;
    
    &:hover{
        background-color: $color-white;
        color: $color-orange;
        border: 1px solid #FB8F1D;
        box-sizing: border-box;
        border-radius: 8px;
    }
}
    .text--gray{
        font-family: Mulish;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        color: $color-spaceGray;
        max-width: 450px;
        padding: 20px 0 35px;
    }

    .item{
        max-width: 450px;
    }

    .view{
        position: relative;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 60px;
        color: $color-orange;

        &::before{
            content:'';
            position: absolute;
            width: 9px;   
            border: 1px solid #FB8F1D; 
            top: 44%;
            right: -30%;
            transform: rotate(210deg);  

        
        }
        &::after{
            content:'';
            position: absolute;
            width: 9px;
            border: 1px solid #FB8F1D;
            top: 53%;
            right: -30%;
            transform: rotate(-25deg);

        }
     
        &:hover{
            color:  #ff8706;
            font-size: 20px;
            transition: 0.3s;
        }

       
    }

