.container{
    max-width:1200px;
    margin: auto;
}


li {
    list-style: none;

}

a,span,p{
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    cursor: pointer;
}



.row {
    display: flex;
    flex-wrap: wrap;
  }
  
.btn--orange{
    border-radius: 8px;
    margin-right: 18px;
    padding:10px 40px ;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: $color-white;
    background-color: $color-orange;
    border: none;
    &:hover{
        background-color: $color-white;
        color: $color-orange;
        border: 1px solid #FB8F1D;
        box-sizing: border-box;
        border-radius: 8px;
    }
}
    .text--gray{
        font-family: Mulish;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        color: $color-spaceGray;
        max-width: 450px;
        padding: 20px 0 35px;
    }


 .guides__search{
	width: 80px;
	height: 80px;
	top: 80px;
	position: absolute;
	background: #FB8F1D;
	border-radius: 50%;
	transition: 1s;
}


    .guides__search:nth-child(1){
	left: -20px;
	transition-delay: .1s;
}
.guides__search:nth-child(2){
	left: 30px;
	transition-delay: .3s;
}
.guides__search:nth-child(3){
	left: 80px;
	transition-delay: .5s;
}
.guides__search:nth-child(4){
	left: 125px;
	transition-delay: .7s;
}

.guides__btn--title:hover {
	position: absolute;
	z-index: 333333300000000;
	color: #000;
	transition-delay: .5s;
	margin: 0 auto;
}

p:hover span{
    top: -10px;
}
    .item{
        max-width: 450px;
    }

    .view{
        position: relative;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 60px;
        color: $color-orange;

        &::before{
            content:'';
            position: absolute;
            width: 9px;   
            border: 1px solid #FB8F1D; 
            top: 44%;
            right: -30%;
            transform: rotate(210deg);  

        
        }
        &::after{
            content:'';
            position: absolute;
            width: 9px;
            border: 1px solid #FB8F1D;
            top: 53%;
            right: -30%;
            transform: rotate(-25deg);

        }
     
        &:hover{
            color:  #ff8706;
            font-size: 20px;
            transition: 0.3s;
        }

       
    }


    @media screen and (max-width:1024px){
        body{
            padding: 0 10px;
        }

        .view{
            display: flex;
            &::before{
                display: none;  
            }
            &::after{
                display: none;
            }
        }
    }


    @media screen and (max-width:4145px){
        body{
            padding: 0 10px;
        }

      
        .view{
            line-height: 1;
            display: flex;
            &::before{
                display: none;  
            }
            &::after{
                display: none;
            }
        }

        .btn--orange{
            padding: 8px 25px;
        }
    }
