.explore{
padding: 0 0 260px 0;
    &__row{
        display: flex;
    }

    &__item{
        max-width: 450px;
        padding: 50px 0 0 100px;
    }

    &__title{

        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
    }


    &__element{
        padding: 0 0 20px 320px;
    }
}




@media screen and (max-width:1024px){
    .explore{
     
        &__image{
            max-width: 520px;
        }

        &__col-6{
            width: 50%;
        }
    }
       
}

@media screen and (max-width:414px){

    .explore{

        padding: 10px 0;
        &__image{
            max-width: 420px;
        }

        &__col-6{
            width: 100%;
        }

        &__item{
            padding: 10px 10px;
        }
    }
   
}