.guides{

    &__row{
        padding: 50px 0;
        display: flex;

    }
    &__icon{
      margin-left: 100px;
    }
     &__icon2{
      margin-left: 500px;
    }
     &__icon3{
      margin-left: 500px;
    }
    &__item{
        max-width: 450px;
       padding-top: 160px;
    }
    &__title{
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
            
    }
       

}


@media screen and (max-width: 1024px){
  .guides{

    &__col-6{
      width: 50%;
    }
  }
}


@media screen and (max-width:414px){

  .guides{

    &__img{
      max-width: 450px;
    }
    &__col-6{
      width: 100%;
    }
  }
}
