.header{


    &__row{
        padding: 35px 0;
        display: flex;
        justify-content:space-between;
    }
  
  }


  .nav{
    display: flex;
    align-items: center;
  
     &__menu{
         display: flex;
        
     }
    &__links{
        display: flex;
        padding-right: 35px;
        color: $color-whiteGray;
        font-family: Inter;
        font-size: 16px;
        line-height: 19px;

        &:hover{
            color: $color-darkGray;
            font-size: 17px;
            font-weight: 600;
            font-size: 16px;
        }
    }
}

    .nav__buttons{
         display: flex;

        .btn--orange{
            padding:8px 36px ;
 
        }
    }
  


   
