.hero{
    
    &__row{
        display: flex;
        padding-bottom: 260px;
    }

    &__item{
        position: relative;
        padding-top: 20px;
        
    }

    &__title{

        font-family: font-playfair;
        color: $color-darkGray;
        font-weight: bold;
        font-size: 64px;
        line-height: 1.5;
    }

    &__subtitle{
        display: inline-block;
        margin-bottom: 50px;
        position: relative;
        font-family: Inter;
        color: $color-darkGray;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        &::before{
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background: #202336;
            border-radius: 4px;
            bottom: -50%;
        }
    }

    &__element--left{
       position: absolute;
       left: -15%;
       
    }

    &__element--bottom{
        padding: 60px 0 0 550px;
    }

    &__tour{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 25px;
    }

    &__select{
        position: relative;
        margin: 0 30px 35px 0;
        &::before{
            content:'';
            position: absolute;
            width: 9.5px;
            height: 2px;
            background: #4A4C53;
            top: 50%;
            right: 16%;
            transform: rotate(45deg);
        }

        &::after{
            content:'';
            position: absolute;
            width: 9.5px;
            height: 2px;
            background: #4A4C53;
            top: 50%;
            right: 13%;
            transform: rotate(135deg);
        }
    }

    &__selector{
        padding: 0 30px;
        border: 0.8px solid #AFB0B9;
        box-sizing: border-box;
        border-radius: 6px;
        width: 220px;
        height: 52px;
        outline: none;
        appearance: none;
        font-family:$font-inter;
        font-size: 15px;
        color: #313235;    
         
    }

    .button{
        margin-top: 50px; 
    
    }

    &__image{
        padding-top: 35px;
    }
}

@media screen and (max-width:1024px){
	
	.hero{

        &__item{
            text-align: center;
        }

        &__title{
            font-size: 48px;
        }
    }

}

