.reviews{
    padding: 260px 0;
      
    &__title{
        padding-bottom: 150px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
    }
    &__text{
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        padding: 30px 0 40px;
       
       
    }
    &__edward{
        font-family: Inter;
        font-weight: bold;
        font-size: 22px;
        line-height: 48px;
    }
    &__founder{
       font-family: Inter;
       font-weight: normal;
       font-size: 18px;
       color: rgba(0, 0, 0, 0.85);
       mix-blend-mode: normal;
    }
    &__img{
         position: relative;
        padding-top: 100px;
        
    }

    &__star{
      padding-right: 15px;
    }

    &__icon1{
        width: 35px;
        position: absolute;
        top: 85%;
        right: 8%;
    }
    &__icon2{
        position: absolute;
        top: 571px;
        right: 430px;
        width: 34px;
        transform: rotate(-11deg);
        z-index: 1;
    }
    &__image{
        width: 380px;
        height: 490px;
        border-radius: 14px;
        
    }
    &__img--man{
        position: relative;
       padding-left: 150px;
       
    }
}


@media screen and (max-width: 1024px){
    .reviews{
  
      &__col-6{
        width: 50%;
      }

      &__title{
        padding-bottom: 50px;
      }

      &__img{

        padding: 0 0 10px 0;
      }

      &__img--man{
          padding-left: 100px;
      }
    }
  }


  @media screen and (max-width: 768px){
    .reviews{
      &__image{
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 414px){

    .reviews{
      padding: 100px 0;
      &__col-6{
        width: 100%;
      }

      &__img--man{
        padding-left: 0;
      }

      &__image{
        max-width: 350px;
        max-height: 450px;
      }

    }
  }


  @media screen and (max-width: 320px){
    .reviews{

      &__image{
        max-width: 280px;
        max-height: 400px;
      }
    }
  }