.trending{
   
    &__stories{
        margin: 0 20px 0 0;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
        color: #000000;
        padding-bottom: 45px;
    }

    &__images{
      
        border-radius: 10px 10px 0 0;
        height: 280px;
        width: 280px;
    }
    &__item{
        max-width: 260px;
    }
    &__suptitle{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 30px;
    }
    &__text{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        padding: 15px 0 0px;
        color: #7D7987;
    }

    &__link{

        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 60px;
        color: $color-orange;

        &:hover{
            color:  #ff8706;
            font-size: 20px;
            transition: 0.3s;
        }
    }
 
}